@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

body {
	background: #111;
	color: #ccc;
	font: 20px sans-serif;
}

#logo {
	font-size: 32px;
	margin: 1em auto;
	color: #555;
	text-align: center;
}

#alge, #bruh {
	font-family: serif;
	font-style: italic;
}

#bruh {
	color: DodgerBlue;
}

#bruh, #simp {
	font-weight: bold;
}

#simp, #lifier {
	font-family: "Dancing Script", cursive;
}

#simp {
	color: Coral;
}

.inp {
	display: block;
	resize: none;
	background: none;
	color: inherit;
	border: 2px solid DodgerBlue;
}

.inp:focus {
	outline: none;
	border-color: Coral;
}

.inp, .out {
	font: 20px sans-serif;
	width: 90%;
	margin: 1em auto;
	padding: 0.5em 1em;
	border-radius: 1em;
}

.out {
	box-sizing: border-box;
	min-height: 46px;
	font-family: serif;
	font-style: italic;
	border: 2px solid #555;
}

.invalid {
	color: Coral;
}

sup, sub {
	font-size: 0.71em;
}

#btncont {
	width: 90%;
	margin: 1em auto;
	height: 47px;
	display: flex;
	justify-content: space-between;
}

#addbtn, #hlpbtn  {
	width: 33%;
	height: 100%;
	background: DodgerBlue;
	border-radius: 1em;
	font: bold 32px sans-serif;
	color: White;
	display: flex;
	align-items: center;
	justify-content: center;
}

#hlpbtn {
	background: Coral;
}

#btncont > div:active { /* *:active stopped working after removing ::before */
	background: SeaGreen;
}

#halp {
	transition: transform 0.2s ease-in-out;
	transform-origin: top;
}

#halp.hidden {
	transform: scale(1, 0);
}

table {
	width: 100%;
	max-width: 540px;
	border-collapse: collapse;
}

table, tr, th, td {
	border: 2px solid DodgerBlue;
}

th, td {
	padding: 0.25em 0.5em;
}

li {
	font-size: 0.8em;
	margin-bottom: 0.4em;
}
